@use '../setup/vars';

.action-bar {
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    // width: 100%;
    // width: 100px;
    display: flex;
    background-color: red;
    justify-content: center;
    // margin: 12px auto;

    .cell {
        background-color: grey;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        margin: 4px;
    }
}