@use '../setup/vars';

.cell-container {
    background-color: grey;
    width: 32px;
    height: 32px;
    // padding: 1px;
    border-radius: 2px;
    display: grid;
    place-items: center;

    &.bottom-gap {
        margin-bottom: 3px;
        // background-color: red;
    }

    &.right-gap {
        margin-right: 3px;
        // background-color: red;
    }

    .cell-value {
        font-size: 20px;
        font-weight: 600;
        color: var(--text-color);
        line-height: 32px;
        text-align: center;
    }


    place-self: center;
}