@use '../setup/vars';

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center; // Centers content both horizontally and vertically
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3); // Soft overlay for the background
    pointer-events: none; // Prevent interaction outside the modal
}

.modal-container {
    position: relative;
    background-color: vars.$pastel-white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: vars.$box-shadow-light;
    z-index: 2;
    max-width: 90%;
    width: minmax(300px, 60%);
    pointer-events: auto; // Enable interaction inside the modal
    animation: fadeIn 0.3s ease-in-out;
    border: 1px solid vars.$border-color-light;

    // Add pastel theme gradient
    background: linear-gradient(
        135deg,
        vars.$pastel-blue 0%,
        vars.$pastel-pink 100%
    );
}

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: auto; // Enable interaction for closing the modal
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: vars.$pastel-gray-light;
    border: 1px solid vars.$border-color-light;
    // border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0;
    font-weight: bold;
    color: vars.$text-primary;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: vars.$hover-effect;
    }
}

.modal-content {
    font-size: 1rem;
    color: vars.$text-primary;
    text-align: center;

    // Add padding for content
    padding: 1rem;
    border-radius: 8px;
    background-color: vars.$pastel-gray-light;
    box-shadow: vars.$box-shadow-light;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
